.login-div {
    position: absolute;
    height: 250px;
    width: 400px;
    left: 50%;
    margin: 20px 0 0 -200px;
    text-align: center;
    display: inline-block;
}

.form-text-field-container {
    margin: 10px;
}

.form-btn {
    margin: 10px;
}
